*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Cabeçalho{
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(31, 31, 31);
    height: 50px;
}
.Divs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;

}
.Titulo2{
    display: flex;
    align-items: center;
}

.intro {
	background-image: url('https://images.pexels.com/photos/2559312/pexels-photo-2559312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
	background-size: cover;
	background-position: center;

	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    

	color: #fff;
}
.Titulo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    color: rgb(0, 0, 0);
    
}
.paragrafo{
    margin: 20px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-size: 170%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.btn1{
    width: 150px;
    height: 35px;
    background: transparent;
    text-decoration: none;
    border: black, 3px, solid;
    color: black;
    font-size: 120%;
}
.SERVIÇOS{
    display: flex;
	margin-top: 10%;
	justify-content: space-around;
    text-align: center;
    margin-bottom: 10%;
; 
}
.Titulo3{
 text-align: center;
 margin: 5%;
 font-family: Arial, Helvetica, sans-serif;
 
}

.img-coffe{
    width: 720px;
    height: 300px;
    box-sizing: border-box;
}
.nss-historia{
 display: flex;
flex-direction: column;

box-sizing: border-box;
direction: ltr;
margin-left: 36%;
margin-top: -350px;
height: 490px;
padding: 70px;
font-family: Arial, Helvetica, sans-serif;

}
.nss-historia>button{
    background-color: transparent;
    margin-top: 20px;
    width: 15%;
    padding: 10px;
    font-weight: 1000%;
}
.Contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;


 
}
.titulo4{
    display: flex;
    justify-content: center; 
    margin-top: 9%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    flex-direction: column;
    text-align: center;
}
.usuario{
    padding: 5px;

}
.Mensagem{
    padding: 5px;
}
.email{
    padding: 5px;
}
.btn-contato{
    background-color: white;
    border: black 1px solid;
    margin-top: 20px;
    width: 15%;
    padding: 10px;
    font-weight: 500%;
    font-size: 120%;
    margin-bottom: 20px;
}
.usuario{
    display: flex;
    
    height: 200%;
    padding: 10%;
    text-align: start ;
    justify-content: center;
    margin-right: 50px;  
    margin-top: 20px;
    font-size: 120%;
    align-items: center;
}
.paragrafo2{
    font-size: 170%;
}
.tt2{
    font-size: 350%;
}
.p1{
    font-size: 150%;
}
